body {
    user-select: none;
    margin: 0;
    height: 80%;
}

#c {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#interface {
    position: relative;
    width: auto;
    height: 55px;
    margin: 8px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#button {
    width: 55px;
    height: 55px;
    float: left;
    border-radius: 50% 50%;
    text-align: center;
    background: radial-gradient(#ff9610, #f33a1cd9, transparent);
}

#button span {
    text-shadow: 4px 4px 3px #777;
    font-size: medium;
    line-height: 55px;
    font-weight: bold;
}

#reset {
    width: 55px;
    height: 55px;
    float: left;
    border-radius: 50% 50%;
    text-align: center;
    background: radial-gradient(#ff9610, #1c3af3d9, transparent);
}

#reset span {
    text-shadow: 4px 4px 3px #777;
    font-size: medium;
    line-height: 55px;
    font-weight: bold;
}

#power {
    position: relative;
    top: 5px;
    width: 233px;
    height: 34px;
    float: left;
    border: solid 3px black;
    border-radius: 8px;
}

#score {
    position: relative;
    top: 7px;
    font-size: x-large;
}
